#main_table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#main_table > thead {
  background-color: #10967b;
  color: #ffffff;
  text-align: left;
  height: 30px;
  position: sticky;
  top:0;
  left: 0;
  z-index: 1;
}

#main_table th {
  padding-left: 10px;
}

#main_table tbody tr {
  border-bottom: 1px solid #dddddd;
  height: 40px;
}

#main_table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.ListButton {
  margin-top: 3px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.ListButton button {
  width: 60%;
  border: 1px solid #10967b;
  border-radius: 3px;
  background-color: white;
  font-weight: 600;
}

.ListButton button span {
  color: #10967b;
}